<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kaikki autot</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>

<body>
    <h2>Kaikki autot</h2>
    <table>
        <thead>
            <tr>
                <th>Valmistusnumero</th>
                <th>Nimi</th>
                <th>Rekisterinumero</th>
                <th>Arvostelu</th>
                <th>Varastolukumäärä</th>
            </tr>
        </thead>
        <tbody>
            <% autot.forEach(auto => { %>
            <tr>
                <td>
                    <%= auto.valmistusnro %>
                </td>
                <td>
                    <%= auto.nimi %> 
                </td>
                <td>
                     <%= auto.rekisteriNro %>
                </td>
                <td>
                    <%= auto.arvostelu %>
                </td>
                <td>
                    <%= auto.varastoLkm %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/"><button>Valikkoon</button></a>
</body>

</html>
 