<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tulos</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>

<body>
    <h1>Haetut tiedot:</h1>
    <div>
        <p>Henkilönumero: <%= tiedot.henkiloId %></p>
        <p>Etunimi: <%= tiedot.etunimi %></p>
        <p>Sukunimi: <%= tiedot.sukunimi %></p>
        <p>Osasto: <%= tiedot.osasto %></p>
        <p>Palkka: <%= tiedot.palkka %> euroa</p>
    </div>
    <a href="/"><button>Valikkoon</button></a>
</body>

</html>