<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tulos</title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>

<body>
    <h1>Haetut tiedot:</h1>
    <div>
        <p>Autonumero: <%= tiedot.valmistusnro %></p>
        <p>Nimiimi: <%= tiedot.nimi %></p>
        <p>Rekisterinumero: <%= tiedot.rekisteriNro %></p>
        <p>Arvostelu: <%= tiedot.arvostelu %></p>
        <p>Varastossa: <%= tiedot.varastoLkm %> autoa</p>
    </div>
    <a href="/"><button>Valikkoon</button></a>
</body>

</html>