<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= paaotsikko %></title>
    <link rel="stylesheet" href="/tyylit/tyylit.css" type="text/css">
</head>

<body>
    <h1><%= otsikko %></h1>
    <form id="autolomake" action="<%= toiminto %>" method="POST">
        <p>
            <label for="valmistusnro">Valmistusnumero:</label>
            <input type="text" id="valmistusnro" name="valmistusnro" size="5" value="<%= valmistusnro.arvo %>"
                <%= valmistusnro.vainluku %>>
        </p>
        <p>
            <label for="nimi">Nimi:</label>
            <input type="text" id="nimi" name="nimi" size="15" value="<%= nimi.arvo %>"
                <%= nimi.vainluku %>>
        </p>
        <p>
            <label for="rekisteriNro">Rekisterinumero:</label>
            <input type="text" id="rekisteriNro" name="rekisteriNro" size="25" value="<%= rekisteriNro.arvo %>"
                <%= rekisteriNro.vainluku %>>
        </p>
        <p>
            <label for="arvostelu">Arvostelu:</label>
            <input type="text" id="arvostelu" name="arvostelu" size="10" value="<%= arvostelu.arvo %>"
             <%= arvostelu.vainluku %>>
        </p>
        <p>
            <label for="varastoLkm">Varastolukumäärä:</label>
            <input type="text" id="varastoLkm" name="varastoLkm" size="30" value="<%= varastoLkm.arvo %>" 
            <%= varastoLkm.vainluku %>>
        </p>
        <button type="submit"><%=nappula%></button><br>
        
         
    </form>
</body>

</html>